#popup-mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(204, 77, 77);
    display: none;
  }

  #popup-mensaje.popup-active {
    display: block;
  }
